In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt

In [6]:
import lightgbm as lgb
from fbprophet import Prophet

In [8]:
df_BF = pd.read_csv("Data/BAJAJFINSV.csv")
df_BF.head(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2008-05-26,BAJAJFINSV,EQ,2101.05,600.00,619.00,501.00,505.10,509.10,548.85,3145446,1.726368e+14,NaN,908264,0.2888
1,2008-05-27,BAJAJFINSV,EQ,509.10,505.00,610.95,491.10,564.00,554.65,572.15,4349144,2.488370e+14,NaN,677627,0.1558
2,2008-05-28,BAJAJFINSV,EQ,554.65,564.00,665.60,564.00,643.00,640.95,618.37,4588759,2.837530e+14,NaN,774895,0.1689
3,2008-05-29,BAJAJFINSV,EQ,640.95,656.65,703.00,608.00,634.50,632.40,659.60,4522302,2.982921e+14,NaN,1006161,0.2225
4,2008-05-30,BAJAJFINSV,EQ,632.40,642.40,668.00,588.30,647.00,644.00,636.41,3057669,1.945929e+14,NaN,462832,0.1514
5,2008-06-02,BAJAJFINSV,EQ,644.00,650.00,699.00,622.00,687.00,686.95,670.51,2247399,1.506913e+14,NaN,351112,0.1562
6,2008-06-03,BAJAJFINSV,EQ,686.95,672.00,689.80,632.55,670.55,672.05,665.87,2299383,1.531082e+14,NaN,391772,0.1704
7,2008-06-04,BAJAJFINSV,EQ,672.05,674.00,674.00,566.60,595.00,598.95,602.36,2832725,1.706317e+14,NaN,735765,0.2597
8,2008-06-05,BAJAJFINSV,EQ,598.95,603.00,639.80,572.30,631.50,631.85,610.65,1344712,8.211522e+13,NaN,167819,0.1248
9,2008-06-06,BAJAJFINSV,EQ,631.85,639.25,642.90,608.05,635.00,630.90,628.44,794722,4.994326e+13,NaN,65497,0.0824

In [7]:
df_BF.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,2916.000000,2916.000000,2916.000000,2916.000000,2916.000000,2916.000000,2916.000000,2.916000e+03,2.916000e+03,2169.000000,2.916000e+03,2916.000000
mean,2098.571005,2099.974588,2126.353961,2072.539986,2098.742507,2098.874726,2099.629832,3.625032e+05,7.799566e+13,24202.224527,1.910706e+05,0.533544
std,735.645668,737.026461,740.360756,732.426573,735.711935,735.765367,736.192008,3.114988e+05,7.431659e+13,14718.404721,1.726614e+05,0.159364
min,301.900000,262.000000,307.050000,262.000000,300.000000,301.900000,301.980000,4.966000e+03,2.497018e+11,451.000000,1.290000e+03,0.075700
25%,1610.262500,1612.000000,1631.525000,1585.800000,1609.300000,1610.262500,1608.727500,1.955662e+05,4.038302e+13,15258.000000,9.231400e+04,0.425250
50%,2128.000000,2130.000000,2154.200000,2105.025000,2127.000000,2128.600000,2128.745000,2.923135e+05,6.351589e+13,21381.000000,1.485340e+05,0.540300
75%,2730.237500,2735.000000,2765.000000,2705.100000,2731.712500,2730.837500,2730.602500,4.357455e+05,9.534159e+13,29128.000000,2.405362e+05,0.637625
max,3412.950000,3419.000000,3468.350000,3341.100000,3417.650000,3412.950000,3375.950000,4.976986e+06,1.465667e+15,209645.000000,4.154492e+06,1.000000